<!-- <header class="header">
    <a href="#" class="header-logo">The Foodie Friends</a>
    <i class="fa-solid fa-bars header-toggle" id="nav-toggle"></i>

    <nav class="nav" id="nav-menu">
        <div class="nav-content">
            <i class="fa-solid fa-xmark" id="nav-close"></i>
            
            <div class="nav-perfil">
                <div class="nav-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUdvR9eZWLqJ4bGBFwJIxP1DnI-8aYu6v-Ot2p0eyC886QPv-_Ce4p6cnwFCKU2cEtZ_w&usqp=CAU" alt="">
                </div>
                <div>
                    <a href="#" class="nav-name">The Foodie Friends</a>
                    <span class="nav-profession">Multi-Cuisine Family Friendly Restaurant</span>
                </div>
            </div>

            <div class="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item"><a href="home" class="nav-link active">Home</a></li>
                    <li class="nav-item"><a href="about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="menu" class="nav-link">Menu</a></li>
                    <li class="nav-item"><a href="booking" class="nav-link">Book Now</a></li>
                    <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
                </ul>
            </div>

            <div class="nav-login">
                <a href="#" class="nav-login-icon">Login</a>
            </div>
        </div>
    </nav>
</header> -->

<!-- <div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-warning m-0"><i class="fa fa-utensils"></i></h1>
        </a>
        <button class="navbar-toggler" type="submit">
            <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="" class="nav-item nav-link active">Home</a>
                <a href="" class="nav-item nav-link ">About</a>
                <a href="" class="nav-item nav-link ">Services</a>
                <a href="" class="nav-item nav-link ">Menu</a>
                <a href="" class="nav-item nav-link ">Pages</a>
                <a href="" class="nav-item nav-link ">Contact</a>
            </div>
            <a href="" class="btn btn-warning py-2 px-4">Login</a>
        </div>
    </nav>

    <div class="container-xxl py-5 bg-dark her-header mb-5">
        <div class="container my-5 py-5">
            <div class="row align-items-center g-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-3 text-white animated sliderInLeft">Welcome To <br>The Foodie Friends</h1>
                    <p class="text-white animated slideInLeft mb-4 pb-2">
                        Multi-Cuisine Family Friendly Restaurant. Sharing Flavors, Creating Memories. Where 
                        every bite is a New Adventure. Bringing people Together, Taste, Repeat. Explore the world, 
                        "A Journey of Taste and Friendship."
                    </p>
                    <a href="" class="btn btn-warning py--sm-3 px-sm-5 slideInLeft">Book A Tables</a>
                </div>
                <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/036/512/678/small_2x/ai-generated-top-view-of-a-black-plate-with-indian-food-isolated-on-a-transparent-background-png.png" width="450px" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div> -->